<!DOCTYPE html>
<html>
<head>
	<title>TodoMVC</title>

	<style type="text/css">
		[v-cloak] { display: none; }	/*隐藏未编译的内容 {{message}}*/
	</style>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/todomvc-app-css@2.0.6/index.css">
</head>
<body>



<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
		<!--
		新建: newTodo, @keyup.enter
		 -->
		<input type="text"
			autofocus
		    autocomplete="off"
			placeholder="What needs to be done"
			v-model="newTodo"
			@keyup.enter="addTodo" 
		 	class="new-todo">
	</header>

	<section class="main" v-show="todos.length" v-cloak>
		<!--
		allDOne 和 filteredTodos应该使用 computed 方法获得, 因为他们都能由todos推导出
		-->
		<input type="checkbox" v-model="allDone" class="toggle-all">
		<ul class="todo-list">
			<!--todo in filteredTodos-->
			<!--尽可能使用 v-for 来提供 key ，除非迭代 DOM 内容足够简单，或者你是故意要依赖于默认行为来获得性能提升。-->
			<li v-for="todo in filteredTodos"
				class="todo"
				:key="todo.id"
				:class="{completed: todo.completed, editing: todo == editedTodo}">
				<!--
					todo.completed
					@
				-->
				<div class="view">
					<input class="toggle" type="checkbox" v-model="todo.completed">
					<label @dblclick="editTodo(todo)">{{todo.title}}</label>
					<button class="destroy" @click="removeTodo(todo)"></button>
				</div>
				<!-- .edit 默认隐藏 当li处于.editing时显示-->
				<input type="text" class="edit"
					v-model="todo.title"
					v-todo-focus="todo == editedTodo"
					@blur="doneEdit(todo)"
					@keyup.enter="doneEdit(todo)"
					@keyup.esc="cancelEdit(todo)">
			</li>
		</ul>
	</section>

	<footer class="footer" v-show="todos.length" v-cloak>
		<span class="todo-count">
			<strong>{{remaining}}</strong> {{remaining | pluralize}} left
		</span>
		<ul class="filters">
			<li><a href="#/all" :class="{selected:visibility == 'all'}">All</a></li>
			<li><a href="#/active" :class="{selected:visibility == 'active'}">Active</a></li>
			<li><a href="#/completed" :class="{selected:visibility == 'completed'}">Completed</a></li>
		</ul>
		<button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">Clear completed</button>
	</footer>
</section>

<footer class="info">
	<p>Double-click to edit a todo</p>
	<p>Part of TodoMVC</p>
</footer>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>

