<!DOCTYPE html>
<html lang="en">
<head>
<title>vue - test</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#app .clickAble > div {
    background: #efefef;
    text-align: center;
    margin-bottom: 30px;
}
#app .clickAble > div {
}
pre {
    text-align: left;
}
</style>
</head>
<script src="./node_modules/vue/dist/vue.js"></script>

<body>

<div id="app">
    <div class="clickAble">
        <div @click="changeData">changeData()</div>

        <div @click="a == 2 ? a = 1 : '' ">使用 JavaScript 表达式:  只能包含单个表达式(包括三元表达式 @click="a == 2 ? a = 1 : '' ")</div>

        <div>a: {{a}}</div>

        <div>fullName: {{fullName}}</div>


        <div><form action="./newForm.html" v-on:submit.prevent=""><button type="submit">v-on:submit.prevent="(事件)", .prevent 修饰符告诉 v-on 指令对于触发的事件调用 event.preventDefault()</button></form></div>

        <div v-bind:class="{ active: isActive, 'text-danger': hasError }">class绑定方式: obj({class名: 判断,...}), 数组([class变量,...]),  变量(复杂的时候使用Computed返回的obj或数组)</div>

        <div :style="">style绑定方式也是: obj, 数组, 变量;<br/>Vue.js 会自动侦测并添加相应的style前缀。</div>
        
        <div :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">从 2.3 开始你可以为 style 绑定中的属性提供一个包含多个值的数组，常用于提供多个带前缀的值：</div>

        <div>
            <!--Vue 会尽可能高效地渲染元素，通常会复用已有元素而不是从头开始渲染
            但有时会带来问题, 如input的value值在切换后没被清空, 
            只需添加一个具有唯一值的 key 属性即可声明“这两个元素是完全独立的——不要复用它们”-->
            <div><b>v-if</b>支持template<br/>
                key 属性可声明“这两个元素是完全独立的——不要复用它们” <br/>
                当它们处于同一节点， v-for 的优先级比 v-if 更高，这意味着 v-if 将分别重复运行于每个 v-for 循环中。
            </div>
            <template v-if="a === 1">
                <label>Username</label>
                <input placeholder="Enter your username" key="username-input">
            </template>
            <template v-else>
                <label>Email</label>
                <input placeholder="Enter your email address" key="email-input">
            </template>
        </div>

        <div v-show="a == 1"><b>v-show</b> 不支持 &lt;template&gt; 语法，也不支持 v-else</div>

        <div>
            <div><b>v-for</b> 也可以遍历对象</div>
            <div v-for="(value, key, index) in aObj">
                index-{{ index }}. key-{{ key }} : value-{{ value }}
            </div>
            <hr/>
            <div>2.2.0+的版本里，当在组件中使用 v-for 时， key 现在是必须的。而且他不能自动传递数据到组件里，因为组件有自己独立的作用域。为了传递迭代数据到组件里，我们要用 props</div>
            <div><pre style="display:inline-block">
                &lt;my-component
                    v-for="(item, index) in items"
                    v-bind:item="item"
                    v-bind:index="index"
                    v-bind:key="item.id"&gt;
                &lt;/my-component&gt;
            </pre></div>
            <hr/>
            <div>使用key属性阻止列表被vue复用</div>
            <div><pre style="display:inline-block">
                &lt;div v-for="item in items" :key="item.id"&gt;
                    &lt;!-- 内容 --&gt;
                &lt;/div&gt;
            </pre></div>
            <hr/>
            <div><b>可以触发vue渲染的数组方法:  <br/>push()pop()<br/>shift()<br/>unshift()<br/>splice()<br/>sort()<br/>reverse()</b></div>
            <div><b>filter(), concat(), slice() </b>。这些不会改变原始数组，但总是返回一个新数组。当使用非变异方法时，可以用新数组替换旧数组：<b> 即使这样重新赋值,  Vue 也不会丢弃现有 DOM 并重新渲染整个列表(只能更新需要更新的部分)</b></div>
            <hr/>
            <div>利用索引直接设置数组的一个项时不会被检测,  应该=>Vue.set(example1.items, indexOfItem, newValue) 或者 example1.items.splice(indexOfItem, 1, newValue)</div>
        </div>
        <hr>
        <div>
            <!-- Alt + C -->
            <div>Alt + C 清空, 修饰键比正常的按键不同；修饰键和 keyup 事件一起用时，事件引发时必须按下正常的按键。换一种说法：如果要引发 keyup.ctrl，必须按下 ctrl 时释放其他的按键；单单释放 ctrl 不会引发事</div>
            <input @keyup.alt.67="clear" v-model="firstName" placeholder="firstName" >
        </div>
        <hr>
        添加/修改对象属性
        <div @click="changeRes">{{c}}   (this.c = Object.assign(this.c, {d:2}))添加新属性时, 这样无法触发更新</div>
        <div @click="changeRess">{{c}}   (this.c = Object.assign({}, this.c, {d:2})) 返回新的对象会更新</div>
        <div id="message">{{message}}</div>
        <hr>
        自定义指令v-
        <input v-cus-directive.self v-color-swatch="'red'" />
    </div>

    
</div>



<script>
    var data = {
        a: 1,
        b: 2,
        c: {c:3},
        firstName: 'Addams',
        lastName: 'XU',
        isActive: true,
        hasError: true,
        aObj: {
            aa: 11,
            bb: 22,
            cc: '33'
        },
        message: 'Old message'
    }
    var vm = new Vue({
        el: '#app',
        data: data,
        methods: {
            changeData() {
                this.a = 2
                this.c.c =4
                this.fullName = 'AddamX XU'
            },
            clear() {
                this.firstName = ''
            },
            changeRes() {
                this.c = Object.assign(this.c, {d:2})
            },
            changeRess() {
                this.c = Object.assign({}, this.c, {d:2})
            }
        },
        /*
            watch对单个数据进行监视, computed属性是可以多个的
            watch允许我们执行异步操作, computed不允许
            当你想要在数据变化响应时，执行异步操作或开销较大的操作
        */
        watch: {
            a: function (val, oldVal) {
                console.log('new: %s, old: %s', val, oldVal)
            },
            // 方法名
            b: 'someMethod',
            // 深度 watcher
            c: {
                handler: function (val, oldVal) { console.log(val.c) },
                deep: true  //发现对象内部值的变化，监听数组的变动不需要这么做。
            },// 该回调将会在侦听开始之后被立即调用
            d: {
                handler: function (val, oldVal) { /* ... */ },
                immediate: true
            }
        },
        /* 
            计算属性默认只有 getter ，不过在需要时你也可以提供一个 setter
        */
        computed: {
            fullName: {
                // getter
                get: function () {
                    return this.firstName + ' ' + this.lastName
                },
                // setter
                set: function (newValue) {
                    var names = newValue.split(' ')
                    this.firstName = names[0]
                    this.lastName = names[names.length - 1]
                }
            }
        },
        /* 
         * 自定义指令
         */
        directives: {
            cusDirective: { //转驼峰'v-cus-directive'
                // 当绑定元素插入到 DOM 中。
                inserted: function (el, binding, vnode, oldVnode) {
                    el.value = 'test'
                    console.log('el:', el)
                    console.log('binding:', binding)
                    console.log('vnode:', vnode)
                    console.log('oldVnode:', oldVnode)
                }
            },
            //简写, 如果只是在bind 和 update 钩子上做重复动作
            ['color-swatch'] (el, binding) {
                el.style.color = binding.value
            }
        }
    })



    /*实例方法 */
    vm.$data === data // -> true
    vm.$el === document.getElementById('app') // -> true
    // $watch 是一个实例方法
    vm.$watch('a', function (newVal, oldVal) {
        // console.log(oldVal, newVal)
    })

    /*异步更新队列 nextTick()*/
    vm.message = 'new message' // 更改数据
    console.log(document.getElementById('message').innerText === 'new message') // false
    Vue.nextTick(function () {
        console.log(document.getElementById('message').innerText === 'new message') // true
    })



</script>

</body>
</html>
