<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./node_modules/vue/dist/vue.js"></script>
        <script src="./src/plugin/require.js"></script>
        <script>
　　require.config({
　　　　baseUrl: "./more_component",
　　　　paths: {
　　　　　　"asyn": "asyn",
　　　　}
　　});
        </script>
    </head>
    <body>
        <div id="app">
                <div>父组件: a=>{{a}}, total=>{{total}}, datasync=>{{datasync}}, price=>{{price}}<br/>checkBoolean=>{{checkBoolean}}</div>
                <my-component :a="a" v-on:click.native="nativeEvent"></my-component>
                <pre>
        - 对象和数组是引用类型，指向同一个内存空间，如果 prop 是一个对象或数组，在子组件内部改变它会影响父组件的状态。
        - 注意使用"动态语法"v-on接受prop, 否则就是"字面量语法"只能接收基本标量, 无法接受来自父组件的变量
                </pre>
                
            <hr>
            
                <div>使用中间事件触发数据更新<button-counter v-on:inter-increment="fatherIncrement"></button-counter>
                <button-counter v-on:inter-increment="fatherIncrement"></button-counter></div>
                <div>使用了sync语法糖同步  <button-sync :data.sync="datasync" ></button-sync></div>

            <hr>
            
                <div>使用v-model自定义输入型组件</div>
                <pre>
    组件使用v-model的语法糖解析
    &lt;custom-input&gt;
    v-bind:value="something"
    v-on:input="something = arguments[0]"&gt;
    &lt;/custom-input&gt;
                </pre>
                <currency-input v-model="price"></currency-input>
                <pre>
    组件使用v-model的语法糖和组件model选项
    &lt;my-checkbox
    :checked="foo"
    @change="val => { foo = val }"
    value="some value">
    &lt;/my-checkbox&gt;
                </pre>
                <div><my-checkbox v-model="checkBoolean" :value="checkValue"></my-checkbox></div>

                <hr>
                <!--异步组件  -->
                <async-example></async-example>
                <async-require-example></async-require-example>
                <async-high-example></async-high-example>
                <hr>
                <!-- 递归组件  -->
                递归组件
                <recur count="6"></recur>
                <!--内联模板: 将把它的内容当作它的模板，而不是把它当作分发内容  -->
                <my-component inline-template>
                <div>
                    <p>These are compiled as the component's own template.</p>
                    <p>Not parent's transclusion content.</p>
                </div>
                </my-component>
        </div>
    
    <script>
        /*
            组件全局注册 (要确保在初始化根实例之前注册了组件)
        */
        /*
            中介事件触发父组件的数据更新
        */
        Vue.component('button-counter', {
            template: '<button v-on:click="sonIncrement">{{ counter }}</button>',
            data: function () {
                return {
                    counter: 0
                }
            },
            methods: {
                sonIncrement: function () {
                    this.counter += 1
                    this.$emit('inter-increment')    //注意中介事件是注意大小写的
                }
            },
        })

        /*
            sync 语法糖更新
        */
        Vue.component('button-sync', {
            template: '<button v-on:click="aEvent">{{ ndata }}</button>',
            props: [
                'data'
            ],
            data() {
                return {
                    ndata: this.data
                }
            },
            methods: {
                aEvent: function () {
                    this.ndata += 1
                    this.$emit('update:data', this.ndata)
                }
            },
        })

        /*
            使用v-model自定义输入型组件
        */
        Vue.component('currency-input', {
            template: '\
                <span>\
                $\
                <input\
                    ref="input"\
                    v-bind:value="value"\
                    v-on:input="updateValue($event.target.value)" placeholder="输入最多2个小数"\
                >\
                </span>\
            ',
            props: ['value'],   //从组件v-model的语法糖可知,  组件一定定义了"value"这个prop值,  并一定定义了"input"作为中间事件传递一个变量(请参考子组件updateValuet和emit的父组件input时, 他们都只传递一个变量)
            methods: {
                // 不是直接更新值，而是使用此方法来对输入值进行格式化和位数限制
                updateValue: function (value) {
                    var formattedValue = value
                        // 删除两侧的空格符
                        .trim()
                        // 保留 2 小数位
                        .slice(
                        0,
                        value.indexOf('.') === -1
                            ? value.length
                            : value.indexOf('.') + 3
                        )
                    // 如果值不统一，手动覆盖以保持一致
                    if (formattedValue !== value) {
                        this.$refs.input.value = formattedValue
                    }
                    // 通过 input 事件发出数值
                    this.$emit('input', Number(formattedValue))
                }
            }
        })

        /*
            通过model选项避开使用默认value属性和input事件
        */
        Vue.component('my-checkbox', {
            template: '\
                <span>\
                <input type="checkbox"\
                    ref="cb"\
                    v-bind:value="checkValue"\
                    v-bind:checked="checked"\
                    v-on:change="updateValue($event.target.checked)" placeholder=""\
                >\
                value:{{checkValue}} checked:{{checked}}</span>\
            ',
            model: {
                prop: 'checked',
                event: 'change'
            },
            props: {
                checked: Boolean,
                value: String
            },
            data() {
                return {
                    checkValue: this.value
                }
            },
            methods: {
                updateValue(value) {
                    //同步value属性
                    value ? this.checkValue = 'Right' : this.checkValue = 'Wrong';
                    //同步父组件的value属性
                    this.$emit('change', Boolean(value))
                }
            }
        })

         /*
            异步组件
        */
        Vue.component('async-example', function (resolve, reject) {
            setTimeout(function () {
                resolve({
                    template: '<div>I am async!</div>'
                })
            }, 1000)
        })
        // 异步组件 + requireJs
            /*当使用局部注册时，也可以直接提供一个返回 Promise 的函数：
                new Vue({
                    // ...
                    components: {
                        'my-component': () => import('./my-async-component') //ES6 import()返回的是一个 Promise 对象
                    }
                })
            */
        Vue.component('async-require-example', function (resolve, reject) {
            require(['asyn'], function(asyn) {
                resolve(asyn)
            },function(error) {
                reject(error)       //报告加载失败的原因
            })
        })
        //高级异步组件 version: 2.30+
        Vue.component('async-high-example', function() {
            return {
                component: new Promise(function(resolve, reject){
                    setTimeout(function(){
                        resolve({
                            template: '<p>我是高级异步组件(加载超过3000ms会报错)</p>'
                        })
                    }, 3000)
                }),
                // loading 时应当渲染的组件
                loading: {template: '<p>加载中......</p>'},
                // 出错时渲染的组件
                error: {template: '<p>加载失败了</p>'},
                // 渲染 loading 组件前的等待时间。默认：200ms.
                delay: 200,
                // 最长等待时间。超出此时间则渲染 error 组件。默认：Infinity
                timeout: 3000
            }
        })

        /*
            递归组件 
        */
        Vue.component('recur', {
            props: ['count'],
            template: '<ul><li v-if="count>0">{{count}}<recur :count="count-1"></recur></li></ul>'
        })
        



        new Vue({
            el: '#app',
            data: {
                a: {b:1},
                total: 0,
                datasync: 0,
                price: '1000',
                checkBoolean: true,
                checkValue: 'Right'
            },
            //组件局部注册
            components: {
                'my-component': {
                    template: '<button @click="cc.b==1 ? cc.b=2 : cc.b=1">由于引用的是对象, 修改对象内部会同步父组件的对象</button>',
                    props: {
                        a: {
                            type: Object,
                            // 数组/对象的默认值应当由一个工厂函数返回
                            default: function () {
                                return { message: 'hello' }
                            },
                            validator: function (value) {
                                return value.c == undefined;
                            }
                        }
                    },
                    data() {
                        return {
                            cc:this.a   //使用props的值初始化data值
                        }
                    }
                }
            },
            methods: {
                fatherIncrement() {
                    this.total++
                },
                nativeEvent(ev) {
                    console.log(ev)
                }
            }
        });


       

        
    </script>
    </body>
</html>